@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}

nav {

    height: 96vh;
    margin: 3vh 4vw;
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    /* justify-content: space-between; */
}

nav div {
    height: 10vh;
    border-bottom: 1px solid #ddd;
    /* border-bottom: none;
    border-left: none;
    border-right: none; */
    display: flex;
    justify-content: start;
    align-items: start;
}


nav div h2 {
    text-decoration: none;
    color: rgba(3, 102, 214, 1);
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

}

.pref-wrapper {
    width: 92vw;
    height: 94vh;
    margin: 3vh 4vw;
}

.pref-content {
    width: 100%;
    background-color: #fff;

}

.pref-content p {
    margin: 0;
    
}

/*
            ORGANIZE DOWNLOADS
*/

.org-down-pref__container {
    display: flex;
    margin-top: 20px;

}

.org-down-pref__categories {
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: space-between; */
}

#org-down-pref__content {
    width: 100%;
    /* height: 100%;  */
    /* background-color: salmon; */
    display: flex;
    flex-direction: column;
    padding: 85px 0 0 160px;
}

#org-down-pref__content p{
    margin: 5px;
    padding: 2px;
    width: 100px;
    border-bottom: 1px solid #eee;
}

.org-down-pref__categories h2 {
    margin-top: 0;
    font-size: 19px;
}

.org-down-pref__categories input {
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    width: 80px;
    outline: none;
    padding: 9px 0;
    color: rgba(3, 102, 214, 1);
}

.org-down-pref__categories-item {
    font-weight: 200;
    font-size: 16px;
    width: 80px;
    padding: 9px 0;
    color: rgba(3, 102, 214, 1);
    border-bottom: 1px solid #eee;
    /* height: 9%; */
    cursor: pointer;
    margin: 0;
    /* margin: auto; */
}

#orgDownBasePath {

    color: rgba(3, 102, 214, 1);
    cursor: pointer;
}